<div class="jumbotron">
  <h1 class="display-4">404 Not Found!</h1>
  <p class="lead"> The page you were trying to reach on a website couldn't be found on server.</p>
  <hr class="my-4">
  <p>A 404 error is an HTTP status code that means that the page you were trying to reach on a website couldn't be found on their server . To be clear, the 404 error indicates that while the server itself is reachable, the specific page showing the error is not. 404 Not Found error messages are frequently customized by individual websites.</p>
  <a class="btn btn-primary btn-lg" routerLink="/" role="button">Back To Home</a>
</div>
