<div class="row">
  <div class="col-4">
    <figure class="figure">
      <img *ngIf="foodResolved" src="{{food.imagePath}}" alt="{{food.name}}" class="figure-img img-fluid rounded">
      <figcaption class="figure-caption">{{food.name}}</figcaption>
    </figure>
  </div>
  <div class="col-6">
    <h3>{{food.name}}</h3>
    <p>{{food.description}}</p>
    <div class="row">
      <div class="col-6">
        <h4>Ingredients: </h4>
        <ul class="list-group">
          <li style="cursor: pointer;" class="list-group-item d-flex justify-content-between align-items-center"
           *ngFor="let ingredient of food.ingredient">
           {{ingredient.name}}
           <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <button class="btn btn-success" (click)="addToCart()">Add to Cart</button>
      <!-- <button class="btn btn-warning">Edit Recipe</button> -->
      <button class="btn btn-danger" (click)="deleteTheRecipe()">Delete Recipe</button>
    </div>
  </div>
</div>
