
<div class="row">
  <div class="col-6">
    <h4>Add Food</h4>
    <form (ngSubmit)="addFood(userForm)" #userForm="ngForm">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Recipe name</label>
        <div class="col-sm-9"><input type="text" name="name" class="form-control" ngModel></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Recipe description</label>
        <div class="col-sm-9"><input type="text" name="description" class="form-control" ngModel></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Image path</label>
        <div class="col-sm-9"><input type="text" name="imagepath" class="form-control" ngModel></div>
      </div>
      <!-- ingredient form -->
      <form (ngSubmit)="addIngredient(ingredientForm)" #ingredientForm="ngForm">
        <div class="form-row align-items-center">
          <div class="col-sm-4 my-1">
            <label class="sr-only" for="inlineFormInputName">IngredientName</label>
            <input type="text" class="form-control" id="inlineFormInputName" name="ingredientname" class="form-control" ngModel placeholder="Ingredient name">
          </div>
          <div class="col-sm-4 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">ingredient name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Amount</div>
              </div>
              <input type="number" class="form-control" id="inlineFormInputGroupUsername" name="ingredientamount" class="form-control" ngModel placeholder="Amount">
            </div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-success">Add Ingredient</button>
          </div>
        </div>
      </form>
      <!-- ingredient form end -->

      <button type="submit" class="btn btn-primary">Add Recipe</button>
    </form>
  </div>
  <div class="col-5" *ngIf="ingredients.length>0">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h5>Ingredients added</h5>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center"
       *ngFor="let ingredient of ingredients" >
        {{ingredient.name}}
        <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
      </li>
    </ul>
  </div>
</div>
