

<div class="row">
  <div class="col-6">
    <!-- add the form to add the ingredients -->
    <app-add-ingredient></app-add-ingredient>
  </div>
  <div class="col-5">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h5>Your Cart</h5>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center"
       *ngFor="let ingredient of ingredients" >
        {{ingredient.name}}
        <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
      </li>
    </ul>
    <button type="button" class="btn btn-success" style="margin-top: 1em" (click)="saveToDB()">save to db(purchase)</button>
  </div>
</div>
