<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h5>Order#{{order.orderId}} ({{order.date}}) </h5>
        <button type="button" class="close float-right" (click)="close();">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center"
       *ngFor="let ingredient of order.ingredients" >
        {{ingredient.name}}
        <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
      </li>
    </ul>
  </div>
</div>
